[Desktop Entry]
Name=LibrePCB
Comment=Design Schematics and PCBs
GenericName=PCB Designer
Categories=Development;Engineering;Electronics;
Type=Application
Terminal=false
Icon=org.librepcb.LibrePCB
Exec=librepcb %U
MimeType=application/x-librepcb-project;application/x-librepcb-project-archive;
