# http://EditorConfig.org

root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true

[*.{cpp,h,pro}]
indent_size = 4

[{.travis.yml,appveyor.yml}]
indent_size = 2
