[submodule "dev/demo-workspace"]
	path = dev/demo-workspace
	url = https://github.com/LibrePCB/demo-workspace.git
[submodule "libs/hoedown"]
	path = libs/hoedown
	url = https://github.com/LibrePCB/hoedown.git
[submodule "libs/quazip"]
	path = libs/quazip
	url = https://github.com/LibrePCB/quazip.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/LibrePCB/googletest.git
[submodule "tests/data"]
	path = tests/data
	url = https://github.com/LibrePCB/librepcb-test-data.git
