# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Others
.DS_Store
Thumbs.db
*~
*.pro.user*
*.autosave
.~lock.*

# Directories
dev/doxygen/output/
build/

# Translation Files
i18n/*.qm

# Vim
*.swp

# Python
.idea/
.pytest_cache/
__pycache__/
*.pyc
