version: '{build}'
os: Windows Server 2012
configuration: Debug
build: off
test: off
deploy: off

environment:
  global:
    MINGW: C:\Qt\Tools\mingw530_32
    QTDIR: C:\Qt\5.9.3\mingw53_32
    VCRT_DIR: 'C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\Redist\x86\Microsoft.VC120.CRT'

init:
  - set PATH=%QTDIR%\bin;%MINGW%\bin;C:\Qt\Tools\QtCreator\bin;%PATH%

install:
  - git submodule update --init --recursive

build_script:
  - mkdir build
  - cd build
  - qmake -r ..\librepcb.pro QMAKE_CFLAGS="-Werror" QMAKE_CXXFLAGS="-Werror"
  - mingw32-make -j 4
  - .\generated\windows\qztest.exe # run quazip unit tests
  - .\generated\windows\tests.exe  # run librepcb unit tests

after_build:
  - xcopy .\generated\share .\output\share /i /e          # resources
  - xcopy .\generated\windows\librepcb.exe .\output\bin\  # executable
  - xcopy "%VCRT_DIR%\*.dll" .\output\bin\                # MS Visual C++ DLLs
  - xcopy C:\MinGW\bin\zlib1.dll .\output\bin\            # zlib DLL
  - xcopy C:\OpenSSL-Win32\bin\*eay*.dll .\output\bin\    # OpenSSL DLLs
  - xcopy %QTDIR%\bin\icu*.dll .\output\bin\              # ICU DLLs
  - xcopy %QTDIR%\bin\lib*.dll .\output\bin\              # MinGW DLLs
  - windeployqt --compiler-runtime --force .\output\bin\librepcb.exe # Qt DLLs

artifacts:
  - path: build\output
    name: librepcb-nightly
    type: zip
