git+https://github.com/LibrePCB/funq.git@653b90fb3efe4ddc7272dad6f4e40b1f45a7051b#egg=funq-server&subdirectory=server
git+https://github.com/LibrePCB/funq.git@653b90fb3efe4ddc7272dad6f4e40b1f45a7051b#egg=funq&subdirectory=client
pytest==6.2.5
pytest-rerunfailures==10.2
