[Desktop Entry]
Version=0.1
Name=LibrePCB
Comment=Design Schematics and PCB's
Comment[de]=Entwerfen eines Schaltplans oder einer Platine
GenericName=PCB Designer
Categories=Development;Engineering;Electronics;
Type=Application
Terminal=false
Icon=librepcb
Exec=librepcb %U
MimeType=application/x-librepcb-project
